.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  padding-bottom: 70px;
}

.form__input {
  height: 50px;
  padding-left: 30px;
  color: #52a7c1;
  font-size: 20px;
  border: 1px solid #11a0e4;
  cursor: pointer;
}

.form__btn {
  width: 200px;

}
